.navbar {
    border-bottom: 1px solid gray;
    background: #ffce0a !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 70px;
}


.navbar-brand img {
    height: auto;
    max-height: 55px;
    object-fit: contain;
    display: block;

}

.logo-with-circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95px;
    height: 95px;
    background: #fff;
    border-radius: 50%;
    border: 5px solid #ffce0a;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0,0,0,0.00);
}

.logo-with-circle img {
    position: relative;
    z-index: 2;
    width: 55px;
    height: 55px;
    object-fit: contain;
    display: block;
}

.behpopivo-nadpis {
    position: absolute;
    top: 35%; /* moved higher */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 12vw; /* made larger */
    font-weight: bold;
    text-shadow: 2px 2px 8px #000, 0 0 20px #000;
    letter-spacing: 0.1em;
    pointer-events: none;
    z-index: 2;
    white-space: nowrap; /* zabezpečí jeden riadok */
}

.table-scroll-wrapper {
    width: 100%;
    max-width: 100%;
    height: 350px;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
}

.table.table-bordered.table-striped {
    min-width: 600px;
    width: max-content;
}

table.table td, table.table th {
    padding: 0.2rem 0.2rem;
    font-size: 0.9em;
    max-width: 180px;
    width: 180px;
    word-break: break-word;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}
