.navbar {
    border-bottom: 1px solid gray;
    background: #ffce0a !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.navbar-brand img {
    height: auto;
    max-height: 55px;
    object-fit: contain;
    display: block;

}
